<ion-header>
  <ion-toolbar color="color">
    <ion-buttons slot="start">
      <ion-button (click)="backButton()" color="light">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-header-center" color="light">
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text id="destinations" class="aligner">
    <h1>Destinations</h1>
  </ion-text>

    <ion-card *ngFor="let dest of destinations">
      <ion-item>
        <ion-card-title>
          {{ dest.heure }}
        </ion-card-title>
        <ion-card-content style="margin-left: 18%;font-size: 20px;">
          {{ dest.destination }}
        </ion-card-content>
      </ion-item>
      <ion-item>
        <ion-card-subtitle>
          {{ dest.date }}
        </ion-card-subtitle>
      </ion-item>
    </ion-card>


  <!-- <ion-card>
    <ion-item>
      <ion-card-title>
        Adresse
      </ion-card-title>
      <ion-icon name="share-social-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-card-subtitle>
        Adresse 0000
      </ion-card-subtitle>
    </ion-item>
  </ion-card> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
