<ion-header>
  <ion-toolbar color="color">
    <ion-buttons slot="start">
      <ion-button (click)="backButton()" color="light">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-header-center" color="light">
      Créer un compte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="aligner">
    <ion-text>

      <h3 class="aligner">Pseudo:

        <ion-item class="aligner">
          <ion-input id="input_Pseudo" type="username" value="{{ pseudo }}"></ion-input>
        </ion-item>
      </h3>
      <h3 class="aligner">Mail:

        <ion-item class="aligner">
          <ion-input id="input_Mail" type="email" value="{{ mail }}"></ion-input>
        </ion-item>
      </h3>
      <h3 class="aligner">Mot de passe:

        <ion-item class="aligner">
          <ion-input id="input_Password" type="password" value=""></ion-input>
          <ion-icon  id="icon_Password" name="eye-outline" button (click)="visibilityPassword($event.target.id)" style="cursor: pointer;"></ion-icon>
        </ion-item>
      </h3>
      <h3 class="aligner">Confirmer mot de passe:

        <ion-item class="aligner">
          <ion-input id="input_ConfPassword" type="password" value=""></ion-input>
          <ion-icon id="icon_ConfPassword" name="eye-outline" button (click)="visibilityPassword($event.target.id)" style="cursor: pointer;" ></ion-icon>
        </ion-item>
      </h3>
    </ion-text>

    <ion-button (click)="creationCompte()">Valider</ion-button>
  </div>

</ion-content>
