<ion-header [translucent]="true">
  <ion-toolbar color="color">
    <ion-title class="ion-text-center" color="light">
      Favoris
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favoris</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="connecter === false" class="aligner" >
    <ion-button class="aligner" (click)="connecter = true;" >Se connecter</ion-button>
    <ion-button class="aligner" (click)="goToCreationProfil()" >Créer un compte</ion-button>
  </div>

  <div *ngIf="connecter" >
    <ion-card>
      <ion-item>
        <ion-card-title>Nom gare</ion-card-title>
        <ion-icon style="cursor: pointer; color: #fcd21c;" id="ionStarfav" button (click)="favoris()" name="star" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-card-subtitle>Distance (mètres) : </ion-card-subtitle>
      </ion-item>
    </ion-card>
  </div>

</ion-content>
